.app {
    height: 100%;
    display: grid;
    grid-template-columns: 575px 1fr;
    grid-template-areas: "aside content";
    margin: 0 auto;
}

.login {
    grid-area:aside;
    
}

.content {
    grid-area: content;
    
}


